# Introduction To Probability
## Challenge 1

A and B are events of a probability space with $(\omega, \sigma, P)$ such that $P(A) = 0.3$, $P(B) = 0.6$ and $P(A \cap B) = 0.1$

Which of the following statements are false?
* $P(A \cup B) = 0.6$
* $P(A \cap B^{C}) = 0.2$
* $P(A \cap (B \cup B^{C})) = 0.4$
* $P(A^{C} \cap B^{C}) = 0.3$
* $P((A \cap B)^{C}) = 0.9$

In [ ]:
"""
your solution here

ùëÉ(ùê¥‚à™ùêµ)=0.6 FALSE, it is =0,8. The probability of the union is the sum of both probabilities minus the intersection.
ùëÉ(ùê¥‚à©ùêµùê∂)=0.2 TRUE P(A)-P(AintB)
ùëÉ(ùê¥‚à©(ùêµ‚à™ùêµùê∂))=0.4 FALSE,P(A)‚à©1 = P(A)
ùëÉ(ùê¥ùê∂‚à©ùêµùê∂)=0.3 FALSE, ùëÉ(ùê¥ùê∂‚à©ùêµùê∂) = 1 - ùëÉ((ùê¥C‚à©ùêµC)C) = 1 - P(A U B) = 1 - 0,8 = 0,2
ùëÉ((ùê¥‚à©ùêµ)ùê∂)=0.9 TRUE => 1 - ùëÉ(ùê¥‚à©ùêµ) = 1 - 0,1 = 0,9


The probability of the union is the sum of both probabilities, the


"""

## Challenge 2
There is a box with 10 white balls, 12 red balls and 8 black balls. Calculate the probability of:
* Taking a white ball out.
* Taking a white ball out after taking a black ball out.
* Taking a red ball out after taking a black and a red ball out.
* Taking a red ball out after taking a black and a red ball out with reposition.

**Hint**: Reposition means putting back the ball into the box after taking it out.

In [ ]:
"""
your solution here

Total balls = 30

* Taking a white ball out. 

P(W) = 10/30 = 1/3

* Taking a white ball out after taking a black ball out.

P(B) = 8/30 = 4/15 

P(B)*P(A/B) = 4/15 * 10/29 = 40/435

* Taking a red ball out after taking a black and a red ball out.

P(R) = 12/30

P(B)*P(R/B)*P(R/R/B) = 4/15 * 12/29 * 11/28 = 528/12180 = 264/6090

* Taking a red ball out after taking a black and a red ball out with reposition.

P(B)*P(R)*P(R) = 4/15 * 12/30 * 12/30 = 576/13500

"""

## Challenge 3

You are planning to go on a picnic today but the morning is cloudy. You hate rain so you don't know whether to go out or stay home! To help you make a decision, you gather the following data about rainy days:

* Knowing that it is a rainy day, the probability of cloudy is 50%!
* The probability of any day (rainy or not) starting off cloudy is 40%. 
* This month is usually dry so only 3 of 30 days (10%) tend to be rainy. 

What is the probability of rain, given the day started cloudy?

In [ ]:
"""
your solution here

P(Rain|Cloud) =  P(Rain) *P(Cloud|Rain)/P(Cloud)
P(Rain|Cloud = (0,1*0,5)/0,4 = 0,125 = 12,5%

"""

## Challenge 4

One thousand people were asked through a telephone survey whether they thought more street lighting is needed at night or not.

Out of the 480 men that answered the survey, 324 said yes and 156 said no. On the other hand, out of the 520 women that answered, 351 said yes and 169 said no. 

We wonder if men and women have a different opinions about the street lighting matter. Is gender relevant or irrelevant to the question?

Consider the following events:
- The answer is yes, so the person that answered thinks that more street lighting is needed.
- The person who answered is a man.

We want to know if these events are independent, that is, if the fact of wanting more light depends on whether one is male or female. Are these events independent or not?

**Hint**: To clearly compare the answers by gender, it is best to place the data in a table.

In [1]:
# your code here
import pandas as pd

In [32]:
df1 = pd.DataFrame({'men':{'yes':324,'no':136, 'total':480},'women':{'yes':351,'no':169, 'total':520}})

In [31]:
df1.head()

       men  women
yes    324    351
no     136    169
total  480    520

In [33]:
df1['Total'] = df1['men'] + df1['women']

In [34]:
dfp

       men  women  Total
yes    324    351    675
no     136    169    305
total  480    520   1000

In [ ]:
Probabily matrix:
    
    	men	women	Total
yes	0,48	0,52	0,675
no	0,45	0,55	0,305
total	0,48	0,52	1

In [ ]:
P(A) = wants more light = 0,675
P(B) = is a men = 0,480

P(A‚à©B) = 0,324

#If independent:

P(A‚à©B) = P(A)*P(B)

0,324 = 0,324

In [ ]:
"""
your solution here:

Gender is not relevant to answer yes or no, both do practvally with the same probability.

"""